body {
  background-color: teal;
  font-family: "Nunito", sans-serif;
  background-image: url("images/daisy.png");
}

.blurb h2,
h1 {
  color: rgb(2, 58, 58);
  font-weight: 100;
  font-size: 2.5rem;
}
.blurb p {
  color: whitesmoke;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 2;
}
button {
  background: none;
  border: none;
}
.content {
  margin-top: 150px;
}
.content2 {
  padding: 100px;
  background-color: teal;
}
.content3 {
  margin-top: 5px;
}
.content4 {
  margin-top: 120px;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .nav-link {
  color: white;
}
#mainNavbar .nav-link:hover {
  color: teal;
}

#mainNavbar .navbar-brand {
  color: white;
}
#mainNavbar .navbar-brand:hover {
  color: teal;
}

.navbar.scrolled {
  /* background-image: url(spaceDanNavBar.png) !important; */
  background: rgba(4, 11, 137, 0.414) !important;
  background-image: url("images/daisy.png") !important;
}

.hidden {
  display: none;
}

.postItPictures {
  border-radius: 2.3rem;
  padding: 0.5rem;
  /* outline: 2px solid Black; */
}
.postItPicturesWide {
  border-radius: 2.3rem;
  height: 150px;
  padding: 0.5rem;
}

.postItPicturesWider {
  border-radius: 2.3rem;
  height: 220px;
  padding: 0.5rem;
}
.postItPicturesTall {
  border-radius: 2.3rem;
  width: 150px;
  padding: 0.5rem;
}

.postItPicturesTaller {
  border-radius: 2.3rem;
  width: 220px;
  padding: 0.5rem;
}

.previousBlack {
  color: black;
  font-family: "Roboto Mono", monospace;
  font-size: 4rem !important;
}
.outline {
  /* background-color: cadetblue; */
  /* gap: 50px; */
  border-radius: 2rem;
}

.header {
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  color: orange;
}
.grover {
  border-radius: 2rem;
  cursor: pointer;
}
#size {
  width: 600px;
}

#spaceButton {
  color: orange;
}

.opaque {
  opacity: 1;
}

.refresh-button {
  background-color: orangered;
  border: none;
  margin-bottom: 2rem;
}
.btn:hover {
  background-color: white;
  color: black;
}
.btn:active {
  background-color: purple;
  color: black;
}

.lead {
  color: rgb(21, 227, 227);
  margin-top: 1rem;
}
.buttonChange {
  position: relative;
  content: "bigger art";
  background-color: orangered;
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  width: 120px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.buttonChange:hover {
  background-color: orange;
}

.buttonAfter {
  position: relative;
  content: "smaller art";
  visibility: visible;
  background-color: orangered;
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  width: 120px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.button:hover {
  background-color: orange;
}

#jokes > li {
  color: white;
  padding: 0.3rem;
  padding-right: 0.4rem;
  text-align: left;
  list-style-type: none;
}

#jokes {
  background-color: rgba(0, 0, 0, 0.204);
  border-radius: 0.5rem;
}

.JokeButton {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 30px;
}

.JokeButton:hover {
  background-color: orange;
}

.puppy {
  width: 1000px;
  border-radius: 1rem;
}

.footer {
  background: rgba(4, 11, 137, 0.414) !important;
}

.h2text {
  color: rgb(1, 80, 80);
}
