/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
  display: flex;
  background-color: rgb(21, 61, 97);
  justify-content: space-between;
}
.portfolio {
  background-color: aqua;
  padding: 2px;
  margin: 20px;
}
ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}
ul {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}
/* 
at 800 and above this will be true */
/* @media (min-width: 600px) and (max-width: 800px) {
  h1 {
    color: palegreen;
  }
} */

h1 {
  color: red;
}

@media (min-width: 500px) {
  h1 {
    color: orange;
  }
}
@media (min-width: 1000px) {
  h1 {
    color: rgb(57, 49, 84);
  }
}
@media (min-width: 1500px) {
  h1 {
    color: green;
  }
}

/* @media (orientation: landscape) {
  body {
    background-color: magenta;
  }
} */
@media (max-width: 768px) {
  h1 {
    font-size: 4em;
  }

  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 3em;
  }
}
